@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
.App {
  min-height: 100vh;
  display: flex;
  background-image: url('./background.png');
  background-size: cover;
  color: "#24365D";
}
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.281);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.message {
  display: flex;
  overflow-y: scroll;
  scrollbar-width: none;
  flex-direction: column;
  
  font-family: 'Work Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  color: #24365D;
  text-align: center;
  margin-top: 10%;
}
